*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main
{
    position: absolute;
    left: 260px;
    right: 0;
    top:104px;
    bottom: 0;
}
.main-frame
{
    width: 100%;
    height: 100%; 
}
@media screen and (max-width:750px) {
.main{
    display: none;
}
           
       }